.blog{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



/* start first-child  */
.blog .blog-card:first-child{
    width: 85%;
    height:50%;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.blog .blog-card:first-child .blog-img{
    width: 50% ;
    height: 100% !important;
    
}

.blog .blog-card:first-child .blog-img img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.blog .blog-card:first-child .blog-content{
    width: 50%;
    height: 100%;
    padding: 0 12px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.blog .blog-card:first-child .blog-date{
    text-align: end;
    color: #ffff;
    position: absolute;
    top: 6px;
    left: 5px;
}
.blog .blog-card:first-child .blog-title{
    color: #ffff;
    margin-bottom: 20px;
}

.blog .blog-card:first-child .blog-des{
    text-align: justify;
    color: white;
    font-size: 20px;
    font-family: system-ui;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 5; 
}


.blog .blog-card:first-child .line-2{
    width: 100%;
    position: absolute;
    top: 25px;
    display: block;
    height: 2px;
    background-color: var(--min-color);
    box-shadow: 0px 0px 5px 2px var(--min-color);
}

.blog .blog-card:first-child .icons{
    width: 111px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: static !important;
    margin-top: -6px;
    margin-bottom: 25px;
}


/* end first-child  */


.blog .blog-card{
    width: 28%;
    height: 30%;
    display: block;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--min-color);
    box-shadow: 0 0 7px 0px var(--min-color);
    background-image: radial-gradient(circle, var(--min-color) 1px, transparent 1px);
    background-size: 10px 10px;
    border-radius: 10px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition:0.5s ease-in-out ;
    -webkit-transition:0.5s ease-in-out ;
    -moz-transition:0.5s ease-in-out ;
    -ms-transition:0.5s ease-in-out ;
    -o-transition:0.5s ease-in-out ;
}
.blog .blog-card:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}


.blog .blog-card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    right: 10%;
    bottom: 10%;
    background: radial-gradient(circle, var(--minor-color), transparent 70%);
    border-radius: 10px;
    z-index: -1; 
}



.blog .blog-card .blog-img{
    width: 100%;
    height: 60%;
}

.blog .blog-card .blog-img img{
    position: relative !important;
    width: 100%;
    
}
.blog .blog-card .blog-content{
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.blog .blog-card .blog-date{
    text-align: end;
    color: #ffff;
    position: absolute;
    font-size: 15px;
    top: 0px;
    left: 3px;
    text-shadow: 2px 2px 3px var(--min-color);
}
.blog .blog-card .blog-title{
    color: #ffff;
    margin-bottom: 5px;
    font-size: 26px;
}

.blog .blog-card .blog-des{
    text-align: justify;
    color: white;
    font-size: 18px;
    font-family: system-ui;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 2; 
}


.blog .blog-card .icons{
    top: -29px;
    width: 90px;
    position: absolute;
    right: 0;
}





@media (max-width:720px) {
    .blog {
        overflow-y: auto;
        padding-top: 100px;
    }
    .blog .blog-card{
        width: 90% !important;
        height: 50% !important;
        display: flex !important;
        margin-bottom: 20px !important;
        margin-top: 50px;

    }


    .blog .blog-card .blog-img{
        width: 50% !important;
        height: 100% !important;
        
    }
    
    .blog .blog-card .blog-img img{
        width: 100% !important;
        height: 100% !important;
        object-position: left;
    }
    

    .blog .blog-card .blog-content{
        width: 50%;
        height: 100%;
        padding: 0 12px;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .blog .blog-card .blog-date{
        text-align: end;
        color: #ffff;
        position: absolute;
        top: 6px;
        left: 5px;
    }

    .blog .blog-card .line-2{
        width: 100%;
        position: absolute;
        top: 25px;
        display: block;
        height: 2px;
        background-color: var(--min-color);
        box-shadow: 0px 0px 5px 2px var(--min-color);
    }
    
    .blog .blog-card .icons{
        width: 111px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: static !important;
        margin-top: -6px;
        margin-bottom: 25px;
    }
    


    .blog .blog-card .blog-des{
        text-align: justify;
        color: white;
        font-size: 20px;
        font-family: system-ui;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-line-clamp: 5; 
    }
    
}


@media (max-width:640px) {
    .blog .blog-card .blog-img{
        position: absolute;
        left: 0 !important ;
        width: 100% !important;
        height: 100% !important;
        
    }
    .blog .blog-card .blog-content {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.463);
    }
}